@model WebAlbum.Web.Models.Albums.AlbumViewModel
@{
    ViewBag.Title = "Album " + @Model.AlbumTitle;
}

<h2>
    <a href="@Url.Action("Index", "Albums")">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    @ViewBag.Title
</h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.AlbumId })
</p>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlbumTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Public)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                Photos Count
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.AlbumTitle)
            </td>
            <td>
                @(Model.Public ? "Yes" : "No")
            </td>
            <td>
                @Html.DisplayFor(model => model.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(model => model.Photos.Count)
            </td>
        </tr>
    </table>
</div>
<hr />
<p class="text-info">@TempData["result"]</p>
<div>
    @Html.Action("Add", "Photos", new { albumId = Model.AlbumId })
</div>
<hr />
<div>
    @Html.Action("_Photos", "Photos", new { albumId = Model.AlbumId })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var images = document.querySelectorAll('#my-images img');

        var modal = document.querySelector('.modal');
        var modalImg = document.getElementById("modalImg");
        var captionText = document.getElementById("caption");

        images.forEach(function (image) {
            image.addEventListener('click', function (event) { 
                modal.style.display = 'flex';
                modalImg.src = event.target.src;              
                captionText.innerHTML = event.target.alt;
            });
        });

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () { 
            modal.style.display = "none";
        }

        modal.addEventListener('click', function () {
            this.style.display = 'none';
        });
    </script>
}