@model WebAlbum.Web.Models.Albums.AlbumViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>
    <a href="@Url.Action("Album", "Albums", new { id = Model.AlbumId })">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    Delete
</h2>

<h3>Are you sure you want to delete this Album?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.AlbumId)
        <dt>
            @Html.DisplayNameFor(model => model.AlbumTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Public)
        </dt>

        <dd>
            @(Model.Public ? "Yes" : "No")
        </dd>

        <dt>
            Photos Count
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photos.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Albums", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default" value="Delete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Delete
            </button>
        </div>
    }
</div>
