@using Microsoft.AspNet.Identity
@model IEnumerable<WebAlbum.Web.Areas.Users.Models.SearchAlbumViewModel>

<P>Results found: @Model.Count()</P>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumTitle)
        </th>
        <th>
            Photos Count
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (User.Identity.GetUserName() == item.User.UserName)
                {
                    @Html.ActionLink(item.User.UserName, "Index", "Albums",new{Area =""},null)
                }
                else
                {
                    @Html.ActionLink(item.User.UserName, "Albums", "Home", new { userName = item.User.UserName }, null)
                }
            </td>
            <td>
                @if (User.Identity.GetUserName() == item.User.UserName)
                {
                    @Html.ActionLink(item.AlbumTitle, "Album", "Albums", new { Area = "", id = item.AlbumId }, null)
                }
                else
                {
                    @Html.ActionLink(item.AlbumTitle, "Photos", "Home", new { userName = item.User.UserName, albumTitle = item.AlbumTitle }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photos.Count)
            </td>
        </tr>
    }
</table>

